/*--====== Font Styles ======---*/
/*--==== Google Fonts ====--*/
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*--==== Variables CSS ====--*/
:root {
    --header-height: 6rem;

    /*--==== Font and typography ====--*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Chivo", sans-serif ;
    --second-font: "Tinos", serif;

    --big-font-size: 4.5rem;
    --h1-font-size: 3.75rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.875rem;

    /*--==== Font weight ====--*/
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-900: 900;

    /*--==== transition ====--*/
    --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

    /*--==== border radius ====--*/
    --radius: .5rem;

    /*--==== z index ====--*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
/*--==== Base ====--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-300);
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

p {
    line-height: 1.67em;
}

img {
    max-width: 100%;
}

textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

/* Themes */

.theme-picker > fieldset {
    border: none;
    display: flex;
    gap: 2rem;
    width: fit-content;
    background: transparent;
    padding: 1rem 3rem;
    margin-inline: auto;
    border-radius: 0 0 1rem 1rem;
}

.theme-picker input[type="radio"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline-offset: 3px;
    outline: 3px solid var(--radio-color, currentColor);
    border-radius: 50%;
}

.theme-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

/*---====== Base Theme ======---*/

.theme-picker input[type="radio"]#base {
    --radio-color: grey;
}

:root:has(#base:checked) {
    --first-color: #ffffff;
    --title-color: #5e5e5e;
    --text-color: #000000;
    --body-color: #e9e1e1;
    --container-color: #c6c6c6;
    --border-color: #b4b4b4;
}

/*---====== Gothic Theme ======---*/

.theme-picker input[type="radio"]#Cathedral {
    --radio-color: black;
}

:root:has(#Cathedral:checked) {
    --first-color: #221a32;
    --title-color: #8470a1;
    --text-color: #6d577c;
    --body-color: #722549;
    --container-color: #541533;
    --border-color: #090408;
}

/*---====== Cottagecore Theme ======---*/
.theme-picker input[type="radio"]#Shrooms {
    --radio-color: red;
}

/*---====== Starry Theme ======---*/
.theme-picker input[type="radio"]#Constant {
    --radio-color: rgb(48, 25, 112);
}

/*---====== Ocean/Nautical Theme ======---*/
.theme-picker input[type="radio"]#Wave {
    --radio-color: rgb(36, 175, 166);
}

/*---====== Forest Theme ======---*/
.theme-picker input[type="radio"]#Lost {
    --radio-color: rgb(0, 128, 0);
}

/*---====== Scrapbooking Theme ======---*/
.theme-picker input[type="radio"]#Tape {
    --radio-color: rgb(190, 159, 138);
}

/*---====== Home ======---*/
.home {
    padding-block: 16rem 9rem;
}

.home {
    background-color: var(--first-color);
}

.home__container {
    grid-template-columns: 7fr 5fr;
    align-items: center;
}

.home__subtitle {
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    display: block;
    color: var(--text-color);
}

.home__title {
    font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-900);
    color: var(--title-color);
}
